@import "../../assets/styles/modules/variables";

.navigation-component {
    background-color: $ms-color-neutralLighter;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    &:not(.collapsed) {
        width: $navigation__expanded__width;
    }

    &.collapsed {
        width: $navigation__collapsed__width;

        .new-message {
            display: none;
        }

        .links {

            nav {
                display: none;
            }
        }

        .footer {
            display: block;
            height: auto;

            > button {
                height: $navigation__collapsed__width;
                width: 100%;
            }
        }
    }

    .footer {

        button {

            &:hover {
                background-color: transparentize($primary-color, .88);
            }
        }
    }

    .sub-header-component {

        > button {

            &.toggle-collapse {
                color: #000;
                width: $navigation__collapsed__width;
            }
        }
    }

    .footer {
        border-top: 1px solid $ms-color-neutralLight;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: $navigation__collapsed__width;

        > button {
            flex: 1 1 auto;
            height: 100%;
        }
    }

    .links {
        flex: 1 1 auto;
        height: 0;
        overflow-y: auto;
        padding: 0 0 ($baseline-grid * 3) 0;

        nav.ms-Nav {
            width: 100%;

            .ms-Nav-group {
                padding: $baseline-grid 0 0 0;

                button,
                .ms-Button {
                    border: none;
                    //color: $ms-color-neutralPrimary;
                    margin: 0 0;
                    padding-left: 0;

                    &:hover {
                        //color: $ms-color-black;
                    }

                    &.ms-Nav-chevronButton {
                        font-size: 14px;
                        font-weight: 600;
                        height: $navigation__collapsed__width;

                        &:hover {
                            background-color: transparent;
                        }
                    }

                    i {
                        margin: 0 $baseline-grid 0 0;
                        position: static;
                        text-align: center;
                        width: $navigation__collapsed__width;
                    }

                    .ms-Nav-linkText {
                        margin: 0 0;
                    }
                }

                .ms-Nav-groupContent {
                    margin-bottom: 0;

                    .ms-Nav-chevronButton {
                        width: auto;
                    }

                    ul {
                        margin: 0 0;

                        li > .ms-Nav-compositeLink:not([icon]) {

                            button,
                            .ms-Button {

                                &:not(.ms-Nav-chevronButton) {
                                    padding-left: $navigation__collapsed__width + $baseline-grid;
                                }
                            }
                        }
                    }

                    .ms-Nav-compositeLink {
                        background-color: transparent;

                        &:hover {

                            .ms-Nav-chevronButton {
                                background-color: transparent;
                            }

                            .ms-Button {
                                background-color: $ms-color-neutralLight;
                            }
                        }

                        .ms-Button,
                        .ms-Nav-chevronButton {
                            height: 40px;
                        }

                        &.is-selected {

                            .ms-Button,
                            .ms-Nav-chevronButton {

                                &::after {
                                    display: none;
                                }
                            }

                            .ms-Nav-chevronButton {
                                background-color: transparent;
                            }

                            .ms-Button {
                                background-color: transparentize($primary-color, .88);
                                color: $primary-color;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}
