@import "./assets/styles/modules";
@import "./assets/styles/partials";

.header-component {

    + * {
        height: 0;
    }
}

.sub-header-component {

    + * {
        flex: 1 1 auto;
        height: 0;
    }
}

.navigation-component {

  + * {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
  }
}
